@import "bootstrap/scss/bootstrap";
$main-color: #FFFFFF;
$secondary-color: #2b7bf4;
$link-color:#828694;
$bg-color:#eeeff1;
$dark-color:#091a28;
a {
  text-decoration: none;
}
* {
  padding: 0px;
  margin: 0;
}
html{
  font-size:62.5%;
}
body{
  background-color: $bg-color;

}

.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}

